<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6643046599-oj5cu3bg5o40ek43k3tpcj5dhcjjniff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6643046599-oj5cu3bg5o40ek43k3tpcj5dhcjjniff</string>
	<key>API_KEY</key>
	<string>AIzaSyDEuhGHmJ7JWgNmzDbk4As_HoO4UVf5QvY</string>
	<key>GCM_SENDER_ID</key>
	<string>6643046599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.techies.carekernel</string>
	<key>PROJECT_ID</key>
	<string>carekernel-bedd7</string>
	<key>STORAGE_BUCKET</key>
	<string>carekernel-bedd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6643046599:ios:d297caee7b8e25d8e406e2</string>
</dict>
</plist>